@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";

body {
  margin: 0;
  padding: 0;
  background-color: #10141F;
  color: #fff;
}

input {
  background: none;
  outline: none;
}